$black = #000000
$white = #ffffff

$color1 = #606C38
$color2 = #283618
$color3 = #FEFAE0
$color4 = #DDA15E
$color5 = #BC6C25

$app-bg = #f5f5f5

// Header
$header-bg = #DDA15E
$header-border = #BC6C25
$header-text = #FEFAE0

// Button
$btn-fg-default = $white
$btn-bg-default = $color5
$btn-border-default = $color4

$btn-fg-hover = $white
$btn-bg-hover = $color5
$btn-border-hover = $color4

$btn-fg-active = $white
$btn-bg-active = $color5
$btn-border-active = $color4
