$flex(jc = flex-start, ai = stretch, dir = row)
  display flex
  flex-direction dir
  justify-content jc
  align-items ai

$square(size)
  width size
  height size

$transparent-background()
  background-color rgba(0, 0, 0, 0)

$svg-color(color)
  --theme-svg-color color

$transparent-color = rgba(0, 0, 0, 0)
